.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.form-input {
  width: 272px;
  height: 40px;
  margin-right: 8px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.form-btn:hover {
  background: #6c8cff;
}

.load-btn {
  width: 125px;
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 8px 16px;
  margin-bottom: 52px;
  margin-left: auto;
  margin-right: auto;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}

.load-btn:hover {
  background: #6c8cff;
}

.load-btn-hidden {
  display: none;
}
